.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section-bg);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    gap: 0.5rem;
}

.contentRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    gap: 1rem;
}