.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section-bg);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.title{
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 600;
}

.subtitle{
    margin: 0 0 20px 0;
    font-size: 25px;
    font-weight: 300;
    color: #666;
}

.googleButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    padding: 10px;
    background-color: var(--primary-color);
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.googleButton:hover{
    background-color: var(--secondary-color);
}